@import url(http://fonts.googleapis.com/css?family=Bangers);

html {
    font-family: 'Bangers';
    font-size: 1em;
    color: white;
    background-color: #B3BEBE ;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    padding-top: 2em;
}

ul{
    list-style-type: none;
}