<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>A Parking Story</title>
    <link rel="stylesheet" type="text/css"href="/Users/karen/pyprojects/prk_story/prk_story/static/style.css">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <script type="text/javascript" src="/Users/karen/pyprojects/prk_story/prk_story/static/skrollr.min.js"></script>
</head>

<body>
    <div id="test"></div>
    <div id="test">
        <h1>A Parking Story</h1>
        <!--goal to  make this guy slide across - this works!! you can vary how far with the percents and vertical when it starts with the data point-->
        <img data-0="transform:translate(-250%,0);" data-300="transform:tranlate(250%,0);" src="/Users/karen/pyprojects/prk_story/prk_story/static/car.png">
    </div>

    <!--this does a gradient fade as you scroll by-->
    <!--adding more CSS properties...thing have to start someplace and go someplace!-->
    <!--data-x == position offsets relative to the anchor. can also do percentages-->
    <div id="test" data-0="background-color:rgb(255,55,200); transform:rotate(0deg);" data-600="background-color:rgb(80,80,80);transform:rotate(15deg);">
        <h3>San Francisco has {{ total_stallct | int() }} public parking spots*</h2>
    </div>

    <div>
        <img src="{{url_for('static', filename='diagram.png') }}">
        <h3>...which represents {{ prk_ratio *100 | round(2,'floor') }} percent of the entire city!</h2>
    </div>

    <div>
    <h2>What if this space was given back to the city?</h2>
    </div>
    
    <div>
    <h3>{{ total_stallct | int() }} parking stalls could yield {{ possible_apt | int() }} studio apts*</h3>
    <h3>Support public transportation and sustainable urbanism.</h3>
    </div>
    
     <div id="test" data-top="background-color:rbg(190,190,255);" data-bottom="background-color:rgb(80,80,80)">
        <h2>*Method</h2>
        <p>Built on <a href="https://www.heroku.com/">Heroku</a> with <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://plotdevice.io/">PlotDevice</a> and <a href="http://prinzhorn.github.io/skrollr/">Skrollr</a> :).</p>
    </div>    
    <div id="skrollr-body"></div>
    <script type="text/javascript">
        var s = skrollr.init();
        smoothScrolling=True;
    </script>
</body>

</html>